*.o
*.obj
*.exe
core
*~
MAKE.log
Makefile.bak
sysprobe
sim-fast
sim-safe
sim-pipe
sim-pipe-withstall
sim-eio
sim-bpred
sim-profile
sim-cache
sim-outorder
sim-pipe
sim-pipe-withstall
*/*.o
*/*.obj
*/core
*/*~
*/Makefile.bak
*/exo-test
*/libexo.a
*/libexo.lib
